@import "bourbon/bourbon";

/* -------------------------------------------------
    Layout
   ------------------------------------------------- */

body,
html { height: 100%; width: 100%; }
html {
  background: url(../img/dota-bg.jpg) center/cover  no-repeat;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 850px;


  @include transform(translate(-50%, -50%));

  img {
    max-width: 100%;

    -webkit-filter: blur(2px);

  }
}
