/* -------------------------------------------------
    Page general styles
   ------------------------------------------------- */

.header {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 32px;
  padding-top: 42px;
}