@import "imports";

/* -------------------------------------------------
    Menu cursor
   ------------------------------------------------- */

.wheel-menu--cursor {
  border: 1px solid #ff9ca6;
  border-radius: 50%;
  position: absolute;
  width: 16px;
  height: 16px;
  box-sizing: border-box;

  opacity: 0;
  @include transform(scale(.4));
  @include transition(transform $duration 0s, opacity $duration 0s);

  &.active {
    opacity: .6;
    @include transform(scale(1));
    @include transition(transform $duration .1s, opacity $duration .1s);
  }
}

.active.-item-activated- .wheel-menu--cursor {
  opacity: 1;
  @include transition(transform $duration 0s, opacity $duration 0s);
}