@import "imports";

/* -------------------------------------------------
    Wheel menu general
   ------------------------------------------------- */

.-wheel-menu-visible- {
  cursor: none;
  -webkit-cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wheel-menu-container {
  left: -9999px;
  top: 0;
  position: absolute;

  @include transition(left 0s $duration);

  &.active {
    left: 0;

    @include transition-delay(0s)
  }
}