@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);
/* -------------------------------------------------
    Reset
   ------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* -------------------------------------------------
    Layout
   ------------------------------------------------- */
body, html {
  height: 100%;
  width: 100%; }

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 850px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .container img {
    max-width: 100%;
    -webkit-filter: blur(2px); }

/* -------------------------------------------------
    Pie menu general
   ------------------------------------------------- */
.-pie-menu-visible- {
  cursor: none;
  -webkit-cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pie-menu-container {
  left: -9999px;
  position: absolute;
  -webkit-transition: left 0s 350ms;
  -moz-transition: left 0s 350ms;
  transition: left 0s 350ms; }
  .pie-menu-container.active {
    left: 0;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s; }

/* -------------------------------------------------
    Pie menu ring
   ------------------------------------------------- */
.pie-menu--ring {
  box-sizing: border-box;
  opacity: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px gold solid;
  position: absolute;
  -webkit-transform: scale(.1);
  -moz-transform: scale(.1);
  -ms-transform: scale(.1);
  -o-transform: scale(.1);
  transform: scale(.1);
  -webkit-transition: top 0s 350ms, left 0s 350ms, opacity 350ms .1s, -webkit-transform 350ms .1s;
  -moz-transition: top 0s 350ms, left 0s 350ms, opacity 350ms .1s, -moz-transform 350ms .1s;
  -ms-transition: top 0s 350ms, left 0s 350ms, opacity 350ms .1s, -ms-transform 350ms .1s;
  -o-transition: top 0s 350ms, left 0s 350ms, opacity 350ms .1s, -o-transform 350ms .1s;
  transition: top 0s 350ms, left 0s 350ms, opacity 350ms .1s, transform 350ms .1s; }
  .pie-menu--ring.active {
    opacity: .6;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, -webkit-transform 350ms 0s;
    -moz-transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, -moz-transform 350ms 0s;
    -ms-transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, -ms-transform 350ms 0s;
    -o-transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, -o-transform 350ms 0s;
    transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, transform 350ms 0s; }
    .-item-activated- .pie-menu--ring.active {
      opacity: 1; }

.-pie-menu-moving- .pie-menu--ring {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s; }

/* -------------------------------------------------
    Pie menu cursor
   ------------------------------------------------- */
.pie-menu--pointer {
  background: #f4777f;
  width: 8px;
  height: 2px;
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }
  .pie-menu--pointer.active {
    opacity: 1; }

.-pie-menu-moving- .pie-menu--pointer {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s; }

/* -------------------------------------------------
    Menu cursor
   ------------------------------------------------- */
.pie-menu--cursor {
  border: 1px solid #ff9ca6;
  border-radius: 50%;
  position: absolute;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transform: scale(.4);
  -moz-transform: scale(.4);
  -ms-transform: scale(.4);
  -o-transform: scale(.4);
  transform: scale(.4);
  -webkit-transition: -webkit-transform 350ms 0s, opacity 350ms 0s;
  -moz-transition: -moz-transform 350ms 0s, opacity 350ms 0s;
  transition: transform 350ms 0s, opacity 350ms 0s; }
  .pie-menu--cursor.active {
    opacity: .6;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 350ms 0.1s, opacity 350ms .1s;
    -moz-transition: -moz-transform 350ms 0.1s, opacity 350ms .1s;
    transition: transform 350ms 0.1s, opacity 350ms .1s; }

.active.-item-activated- .pie-menu--cursor {
  opacity: 1;
  -webkit-transition: -webkit-transform 350ms 0s, opacity 350ms 0s;
  -moz-transition: -moz-transform 350ms 0s, opacity 350ms 0s;
  transition: transform 350ms 0s, opacity 350ms 0s; }

/* -------------------------------------------------
    Pie menu item
   ------------------------------------------------- */
.pie-menu--items {
  position: absolute;
  -webkit-transform: scale(.3);
  -moz-transform: scale(.3);
  -ms-transform: scale(.3);
  -o-transform: scale(.3);
  transform: scale(.3);
  -webkit-transition: -webkit-transform 350ms 0s;
  -moz-transition: -moz-transform 350ms 0s;
  transition: transform 350ms 0s; }
  .pie-menu--items.active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 350ms 0.1s;
    -moz-transition: -moz-transform 350ms 0.1s;
    transition: transform 350ms 0.1s; }

.pie-menu--item {
  position: absolute;
  color: #333;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  border-radius: 2px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  -webkit-transform: scale(.1);
  -moz-transform: scale(.1);
  -ms-transform: scale(.1);
  -o-transform: scale(.1);
  transform: scale(.1);
  transition: transform 350ms, opacity 350ms; }
  .active .pie-menu--item {
    opacity: .7;
    transition: transform 350ms, opacity 350ms;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .active .pie-menu--item:nth-child(1n) {
      -webkit-transition-delay: 40ms;
      -moz-transition-delay: 40ms;
      transition-delay: 40ms; }
    .active .pie-menu--item:nth-child(2n) {
      -webkit-transition-delay: 80ms;
      -moz-transition-delay: 80ms;
      transition-delay: 80ms; }
    .active .pie-menu--item:nth-child(3n) {
      -webkit-transition-delay: 120ms;
      -moz-transition-delay: 120ms;
      transition-delay: 120ms; }
    .active .pie-menu--item:nth-child(4n) {
      -webkit-transition-delay: 160ms;
      -moz-transition-delay: 160ms;
      transition-delay: 160ms; }
    .active .pie-menu--item:nth-child(5n) {
      -webkit-transition-delay: 200ms;
      -moz-transition-delay: 200ms;
      transition-delay: 200ms; }
    .active .pie-menu--item:nth-child(6n) {
      -webkit-transition-delay: 240ms;
      -moz-transition-delay: 240ms;
      transition-delay: 240ms; }
    .active .pie-menu--item:nth-child(7n) {
      -webkit-transition-delay: 280ms;
      -moz-transition-delay: 280ms;
      transition-delay: 280ms; }
    .active .pie-menu--item:nth-child(8n) {
      -webkit-transition-delay: 320ms;
      -moz-transition-delay: 320ms;
      transition-delay: 320ms; }
    .-pie-menu-moving- .active .pie-menu--item {
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      transition-delay: 0s; }
  .pie-menu--item.active {
    background: #ff9ca6; }

.-items-animation- .pie-menu--item {
  transition: all .3s; }

/* -------------------------------------------------
    Dota styles
   ------------------------------------------------- */
.pie-menu--ring {
  border: none; }
  .pie-menu--ring:after {
    content: '';
    background: url(../img/wheel.png) left top no-repeat;
    width: 208px;
    height: 208px;
    position: absolute;
    left: -33px;
    top: -18px; }

.pie-menu--pointer {
  border: none;
  background: url(../img/pointer.png) left top no-repeat;
  width: 33px;
  height: 66px;
  position: absolute; }

.pie-menu--cursor {
  border: none;
  background: url(../img/cursor.png) left top no-repeat;
  width: 60px;
  height: 63px; }

.pie-menu--item {
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 1px 4px #000;
  line-height: 1;
  padding: 0; }
  .pie-menu--item.active {
    background: none;
    font-size: 36px; }

.-pie-menu-moving- .pie-menu--item.active {
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }
