/* -------------------------------------------------
    Reset
   ------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* -------------------------------------------------
    Layout
   ------------------------------------------------- */
body, html {
  height: 100%;
  width: 100%; }

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 850px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .container img {
    max-width: 100%;
    -webkit-filter: blur(2px); }

/* -------------------------------------------------
    Pie menu general
   ------------------------------------------------- */
.-pie-menu-visible- {
  cursor: none;
  -webkit-cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pie-menu-container {
  left: -9999px;
  position: absolute;
  -webkit-transition: left 0s 300ms;
  -moz-transition: left 0s 300ms;
  transition: left 0s 300ms; }
  .pie-menu-container.active {
    left: 0;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s; }

/* -------------------------------------------------
    Pie menu ring
   ------------------------------------------------- */
.pie-menu--ring {
  box-sizing: border-box;
  opacity: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px gold solid;
  position: absolute;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  transform: scale(.7);
  -webkit-transition: top 0s 300ms, left 0s 300ms, opacity 300ms, -webkit-transform 300ms;
  -moz-transition: top 0s 300ms, left 0s 300ms, opacity 300ms, -moz-transform 300ms;
  -ms-transition: top 0s 300ms, left 0s 300ms, opacity 300ms, -ms-transform 300ms;
  -o-transition: top 0s 300ms, left 0s 300ms, opacity 300ms, -o-transform 300ms;
  transition: top 0s 300ms, left 0s 300ms, opacity 300ms, transform 300ms; }
  .pie-menu--ring.active {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: top 0s 0s, left 0s 0s, opacity 300ms, -webkit-transform 300ms;
    -moz-transition: top 0s 0s, left 0s 0s, opacity 300ms, -moz-transform 300ms;
    -ms-transition: top 0s 0s, left 0s 0s, opacity 300ms, -ms-transform 300ms;
    -o-transition: top 0s 0s, left 0s 0s, opacity 300ms, -o-transform 300ms;
    transition: top 0s 0s, left 0s 0s, opacity 300ms, transform 300ms; }

.-pie-menu-moving- .pie-menu--ring {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

/* -------------------------------------------------
    Pie menu cursor
   ------------------------------------------------- */
.pie-menu--pointer {
  background: #f4777f;
  width: 8px;
  height: 2px;
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }
  .pie-menu--pointer.active {
    opacity: 1; }

.-pie-menu-moving- .pie-menu--pointer {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

/* -------------------------------------------------
    Pie menu item
   ------------------------------------------------- */
.pie-menu--item {
  position: absolute;
  color: #333;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  border-radius: 2px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  transform: scale(.7);
  transition: transform 300ms, opacity 300ms, left 0s 300ms, right 0s 300ms; }
  .pie-menu--item:nth-child(1n) {
    -webkit-transition-delay: 25ms;
    -moz-transition-delay: 25ms;
    transition-delay: 25ms; }
  .pie-menu--item:nth-child(2n) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    transition-delay: 50ms; }
  .pie-menu--item:nth-child(3n) {
    -webkit-transition-delay: 75ms;
    -moz-transition-delay: 75ms;
    transition-delay: 75ms; }
  .pie-menu--item:nth-child(4n) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
  .pie-menu--item:nth-child(5n) {
    -webkit-transition-delay: 125ms;
    -moz-transition-delay: 125ms;
    transition-delay: 125ms; }
  .pie-menu--item:nth-child(6n) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    transition-delay: 150ms; }
  .pie-menu--item:nth-child(7n) {
    -webkit-transition-delay: 175ms;
    -moz-transition-delay: 175ms;
    transition-delay: 175ms; }
  .pie-menu--item:nth-child(8n) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    transition-delay: 200ms; }
  .active .pie-menu--item {
    opacity: 1;
    transition: transform 300ms, opacity 300ms, left 0s 0s, right 0s 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .active .pie-menu--item:nth-child(1n) {
      -webkit-transition-delay: 25ms;
      -moz-transition-delay: 25ms;
      transition-delay: 25ms; }
    .active .pie-menu--item:nth-child(2n) {
      -webkit-transition-delay: 50ms;
      -moz-transition-delay: 50ms;
      transition-delay: 50ms; }
    .active .pie-menu--item:nth-child(3n) {
      -webkit-transition-delay: 75ms;
      -moz-transition-delay: 75ms;
      transition-delay: 75ms; }
    .active .pie-menu--item:nth-child(4n) {
      -webkit-transition-delay: 100ms;
      -moz-transition-delay: 100ms;
      transition-delay: 100ms; }
    .active .pie-menu--item:nth-child(5n) {
      -webkit-transition-delay: 125ms;
      -moz-transition-delay: 125ms;
      transition-delay: 125ms; }
    .active .pie-menu--item:nth-child(6n) {
      -webkit-transition-delay: 150ms;
      -moz-transition-delay: 150ms;
      transition-delay: 150ms; }
    .active .pie-menu--item:nth-child(7n) {
      -webkit-transition-delay: 175ms;
      -moz-transition-delay: 175ms;
      transition-delay: 175ms; }
    .active .pie-menu--item:nth-child(8n) {
      -webkit-transition-delay: 200ms;
      -moz-transition-delay: 200ms;
      transition-delay: 200ms; }
  .pie-menu--item.active {
    background: #ff9ca6; }

/* -------------------------------------------------
    Dota styles
   ------------------------------------------------- */
.pie-menu--ring {
  border: none; }
  .pie-menu--ring:after {
    content: '';
    background: url(../img/wheel.png) left top no-repeat;
    width: 208px;
    height: 208px;
    position: absolute;
    left: -33px;
    top: -18px; }

.pie-menu--pointer {
  background: url(../img/pointer.png) left top no-repeat;
  width: 33px;
  height: 66px;
  position: absolute; }

.pie-menu--item {
  background: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px #000; }
  .pie-menu--item.active {
    background: none;
    color: #fc6861; }
