@import "../bourbon/bourbon";

/* -------------------------------------------------
    Pie menu cursor
   ------------------------------------------------- */

$duration: .3s;

.pie-menu--cursor {
  background: #f4777f;
  width: 8px;
  height: 2px;
  position: absolute;
  left: -1000px;
  top: -1000px;
  
  opacity: 0;
  
  @include transition(opacity $duration, transform $duration);

  &.active {
    opacity: 1;

  }
}

.-pie-menu-moving- {
  .pie-menu--cursor {
    @include transition(none);
  }
}