/* -------------------------------------------------
    Pie menu item
   ------------------------------------------------- */

.pie-menu--item {
  position: absolute;
  color: #333;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;

  background: goldenrod;
}
