@import "imports";

/* -------------------------------------------------
    Menu cursor
   ------------------------------------------------- */

.pie-menu--cursor {
  border: 1px solid #ff9ca6;
  border-radius: 50%;
  position: absolute;
  width: 16px;
  height: 16px;
  box-sizing: border-box;

  opacity: 0;
  @include transform(scale(.4));
  @include transition(transform $duration, opacity $duration);

  &.active {
    opacity: .8;
    @include transform(scale(1));
  }
}