/* -------------------------------------------------
    Pie menu general
   ------------------------------------------------- */

.-pie-menu-visible- {
  cursor: default;
  -webkit-cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}