@import "imports";

/* -------------------------------------------------
    Pie menu ring
   ------------------------------------------------- */

$radius: 100px;

.pie-menu--ring {
  box-sizing: border-box;
  opacity: 0;
  width: $radius;
  height: $radius;
  border-radius: 50%;
  border: 1px gold solid;
  position: absolute;

  @include transform(scale(.7));

  -webkit-transition: top 0s $duration, left 0s $duration, opacity $duration, -webkit-transform $duration;
  -moz-transition: top 0s $duration, left 0s $duration, opacity $duration, -moz-transform $duration;
  -ms-transition: top 0s $duration, left 0s $duration, opacity $duration, -ms-transform $duration;
  -o-transition: top 0s $duration, left 0s $duration, opacity $duration, -o-transform $duration;
  transition: top 0s $duration, left 0s $duration, opacity $duration, transform $duration;

  &.active {
    opacity: .6;
    @include transform(scale(1));

    -webkit-transition: top 0s 0s, left 0s 0s, opacity $duration, -webkit-transform $duration;
    -moz-transition: top 0s 0s, left 0s 0s, opacity $duration, -moz-transform $duration;
    -ms-transition: top 0s 0s, left 0s 0s, opacity $duration, -ms-transform $duration;
    -o-transition: top 0s 0s, left 0s 0s, opacity $duration, -o-transform $duration;
    transition: top 0s 0s, left 0s 0s,opacity $duration,  transform $duration;

    .-item-activated- & {
      opacity: 1;

    }
  }
}

.-pie-menu-moving- {
  .pie-menu--ring  {
    @include transition(opacity .3s);

  }
}