@import "imports";

/* -------------------------------------------------
    Pie menu item
   ------------------------------------------------- */

$duration: 300ms;

.pie-menu--item {
  position: absolute;
  color: #333;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  opacity: 0;

  border-radius: 2px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.10);
  white-space: nowrap;

  @include transform(scale(.7));

  transition: transform $duration, opacity $duration, left 0s $duration, right 0s $duration;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}n) {
      @include transition-delay(25ms * $i);
    }
  }

  .active & {
    opacity: .7;

    transition: transform $duration, opacity $duration, left 0s 0s, right 0s 0s;

    @include transform(scale(1));

    @for $i from 1 through 8 {
      &:nth-child(#{$i}n) {
        @include transition-delay(25ms * $i);
      }
    }

    .-pie-menu-moving- & {
      @include transition-delay(0s);

    }
  }

  //  Active state
  // -------------------------------------------------

  &.active {
    background: #ff9ca6;
  }
}

